zipiler/testing/tokenizer/first.vu
zipiler/target
.vscode
ZIde/node_modules
ZIde/database/*.vu
ZIde/database/*.json
ZIde/*.json
ZIde/database/userProjects/*
zipiler/exe*
zipiler/asm/functions.asm
zipiler/asm/script.asm
zipiler/asm/data.asm
zipiler/asm/macros.asm
Iris/target
Iris/text_files/*
Iris/*.json
