compiler/target
Compiler/Todo.txt
.vscode
Forge/node_modules
Forge/vulcain_files.vu
compiler/exe*
compiler/asm/functions.asm
compiler/asm/script.asm
compiler/asm/data.asm
compiler/asm/macros.asm
compiler/Todo.txt
Iris/target