compiler/testing/tokenizer/first.vu
compiler/target
.vscode
Forge/node_modules
Forge/database/*.vu
Forge/database/*.json
Forge/*.json
Forge/database/userProjects/*
compiler/exe*
compiler/asm/functions.asm
compiler/asm/script.asm
compiler/asm/data.asm
compiler/asm/macros.asm
Iris/target
Iris/text_files/*
Iris/*.json
