<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link rel="stylesheet" href="style.css">
    <title>Forge</title>
  </head>
  <body>
    <div>
      <div id="buttonDivCode">
        <button id="back">Back</button>
        <button id="Run">RUN</button>
        <button id="save">Save</button>
        <button id="clear">Clear</button>
        <button id="addFileButton">Add file</button>
      </div>
      <div>
        <div class="mainDiv" id="tabDiv">
          <p>Tabs:</p>
        </div>
        <textarea name="mainInput" id="mainInput" cols="100 " rows="30" spellcheck="false"></textarea>
        <textarea name="mainOutput" id="mainOutput" cols="100" rows="20" spellcheck="false" readonly="true"></textarea>
      </div>
    </div>
    
  </body>
  <script src="../src/code.js"></script>
</html>