<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'"
  />
  <meta
    http-equiv="X-Content-Security-Policy"
    content="default-src 'self'; script-src 'self'"
  />
  <link rel="stylesheet" href="style.css">
  <title>Forge</title>
</head>
<body>
  <div id="TypeProject">
    <button class="TypeProject" id="openProjectButton">Open a Forge project</button>
    <button class="TypeProject" id="newProjectButton">Create a new Forge project</button>
  </div>
  <div>
    <div id="openProjectDiv" class="HIDE">
    </div>
    <div id="noProjectYetDiv" class="HIDE">
      <p>No project yet !</p>
    </div>
    <div id="newProjectDiv" class="HIDE">
      <input type="text" placeholder="Name of the new project" id="newProjectNameSubmit" class="submitNewProject">
      <button id="newProjectButtonSubmit" class="submitNewProject">create</button>
    </div>
  </div>
</body>
<script src="../src/index.js"></script>
</html>