<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link rel="stylesheet" href="style.css">
    <title>Forge</title>
  </head>
  <body>
    <textarea name="mainInput" id="mainInput" cols="30" rows="10" spellcheck="false"></textarea>
    <button id="Run">RUN</button>
  </body>
  <script src="../src/renderer.js"></script>
</html>