<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'"
  />
  <meta
    http-equiv="X-Content-Security-Policy"
    content="default-src 'self'; script-src 'self'"
  />
  <link rel="stylesheet" href="setupProject.css">
  <title>Forge</title>
</head>
<body>
    <h1>Add a file to the project</h1>
    <div>
        <input type="text" placeholder="file name" id="addFileInput">
        <button id="addFileButton">add a file</button>
    </div>
</body>
<script src="../src/setupProject.js"></script>
</html>