#mainInput {
    height: 300px;
    width: 800px;
}

.TypeProject{
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    display: inline-block;
}

#TypeProject{
    text-align: center;
}

.HIDE {
    display: none;
}


input[type="text"] {
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 45%;
  }
  
input[type="text"]:focus {
  outline: none;
  border-color: #007bff; 
}

input[type="text"].pre-filled {
  background-color: #f0f0f0; 
}

.submitNewProject {
    padding: 10px 20px;
    border-radius: 5px;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 16px;
}

  
#newProjectButtonSubmit {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    left: 65%; 
}


  

.openProjectButton {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff; 
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 10px;
  }
  
  .openProjectButton:hover {
    background-color: #0056b3; 
  }
  
  .openProjectButton:active {
    transform: translateY(1px);
  }
  
  .openProjectButton-large {
    padding: 15px 30px;
    font-size: 18px;
  }
  
  .openProjectButton span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .openProjectButton i {
    margin-right: 5px;
  }